{% assign collectionMap = include.collectionMap %}
{% assign titleSize = include.titleSize | default: "20px" %}
{% assign descriptionSize = include.descriptionSize | default: "16px" %}
{% assign titleColor = include.titleColor | default: "#000000de" %}
{% assign descriptionColor = include.descriptionColor | default: "#00000061" %}
{% assign titleWeight = include.titleWight | default: "600" %}
{% assign descriptionWeight = include.descriptionWeight | default: "400" %}
{% assign titleLineHeight = include.titleLineHeight | default: "28px" %}
{% assign descriptionLineHeight = include.descriptionLineHeight | default: "28px" %}

{% if site.data.bubble-tabs-collection[collectionMap] %}
    {% assign bubbleTabsCollection = site.data.bubble-tabs-collection[collectionMap] %}
{% else %}
    {% assign bubbleTabsCollection = page[collectionMap] %}
{% endif %}

<div class="bubble-tabs" id="tabs">
    <div class="bubble-tabs" id="tabs">
        <ul>
            {% for bubbleTabsItem in bubbleTabsCollection %}
                <li>
                    <a href="#tab-{{ bubbleTabsItem[0] }}">
                        {{ bubbleTabsItem[0] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% for bubbleTabsItem in bubbleTabsCollection %}
            {% for data in bubbleTabsItem[1] %}
                <div class="tab-item" id="tab-{{ bubbleTabsItem[0] }}">
                    <p>{{ data.title }}</p>
                    <p>{{ data.description }}</p>
                    <img src="{{ data.src }}">
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>

