{% assign sorted_collection = site.data.hardware-partners | sort: 'name' %}

<div class="card-collection">
    {% for card in sorted_collection %}
        <div class="card" id="{{ card.type | join: '|' }}">
            <img class="logo" src="{{ card.logo }}" alt="{{ card.name }} logo" loading="lazy">
            <span class="crisp">Test</span>
            <p class="card-title">{{ card.name }}</p>
            <p class="card-description">{{ card.description }}</p>
            <a href="#">Learn more</a>
        </div>
    {% endfor %}
</div>
