{% assign firstCompaniesInList = page.firstCompaniesInList | split: "%" %}

{% assign sortedCollection = site.data.hardware-partners | sort: 'name' %}

{% assign priorityCollection = "" | split: "" %}
{% for pname in firstCompaniesInList %}
    {% assign company = sortedCollection | where: "name", pname | first %}
    {% if company %}
        {% assign priorityCollection = priorityCollection | push: company %}
    {% endif %}
{% endfor %}

{% assign remainingCollection = "" | split: "" %}
{% for company in sortedCollection %}
    {% unless firstCompaniesInList contains company.name %}
        {% assign remainingCollection = remainingCollection | push: company %}
    {% endunless %}
{% endfor %}

{% assign finalCollection = priorityCollection | concat: remainingCollection %}

<div class="card-collection" id="card-collection">
    {% for card in finalCollection %}
        <a class="card" href="{{ card.page }}" id="{{ card.type | join: '|' }}|{{ card.industry | join: '|' }}|{{ card.use-case | join: '|' }}|{{ card.hardware-types | join: '|' }}">
            <div class="card-wrapper">
                <div class="card-image">
                    <img class="logo" src="{{ card.logo }}" alt="{{ card.name }} logo" loading="lazy">
                </div>
                <div class="crisp-container" data-tooltip="Industries:&#10;{{ card.industry | join: '&#10;' }}">
                    <span class="crisp">{{ card.industry[0] }}</span>
                    {% assign industrySize = card.industry | size %}
                    {% if industrySize > 1 %}
                        <span class="crisp">+{{ industrySize | minus: 1 }}</span>
                    {% endif %}
                </div>
                <p class="card-title">{{ card.name }}</p>
                <p class="card-description">{{ card.description }}</p>
                <div class="card-link-wrapper">
                    <span class="card-link" href="#">
                        See integration guides
                        <i class="fas fa-chevron-right arrow first blue-chevron"></i>
                        <i class="fas fa-chevron-right arrow second blue-chevron"></i>
                        <i class="fas fa-chevron-right arrow third blue-chevron"></i>
                    </span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
