{% assign sorted_collection = site.data.hardware-partners | sort: 'name' %}

<div class="card-collection" id="card-collection">
    {% for card in sorted_collection %}
        <a class="card" href="{{ card.page }}" id="{{ card.type | join: '|' }}|{{ card.industry | join: '|' }}|{{ card.use-case | join: '|' }}|{{ card.hardware-types | join: '|' }}">
            <div class="card-wrapper">
                <div class="card-image">
                    <img class="logo" src="{{ card.logo }}" alt="{{ card.name }} logo" loading="lazy">
                </div>
                <div class="crisp-container" title="{{ card.use-case | join: '&#10;' }}">
                    <span class="crisp">{{ card.use-case[0] }}</span>
                    {% assign useCasesSize = card.use-case | size %}
                    {% if useCasesSize > 1 %}
                        <span class="crisp">+{{ useCasesSize | minus: 1 }}</span>
                    {% endif %}
                </div>
                <p class="card-title">{{ card.name }}</p>
                <p class="card-description">{{ card.description }}</p>
                <div class="card-link-wrapper">
                    <span class="card-link" href="#">
                        Learn more
                        <i class="fas fa-chevron-right arrow first" style="color: #2a7dec"></i>
                        <i class="fas fa-chevron-right arrow second" style="color: #2a7dec"></i>
                        <i class="fas fa-chevron-right arrow third" style="color: #2a7dec"></i>
                    </span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
