{% assign collectionMap = include.collectionMap %}
{% assign collectionKey = include.collectionKey %}
{% assign autoplay = include.autoplay %}
{% assign nonActiveItemsVisibility = include.nonActiveItemsVisibility %}
{% assign overlay = include.overlay %}
{% assign dotButtonMode = include.dotButtonMode %}
{% assign navMode = include.navMode %}
{% assign enableLinkArrow = include.enableLinkArrow %}
{% assign contentDirection = include.contentDirection %}
{% assign titleSize = include.titleSize %}
{% assign descriptionSize = include.descriptionSize %}
{% assign linkSize = include.linkSize %}
{% assign titleLineHeight = include.titleLineHeight %}
{% assign descriptionLineHeight = include.descriptionLineHeight %}
{% assign linkLineHeight = include.linkLineHeight %}
{% assign titleColor = include.titleColor %}
{% assign descriptionColor = include.descriptionColor %}
{% assign linkColor = include.linkColor %}

{% if site.data.carousel-collection[collectionMap] %}
    {% assign carouselCollection = site.data.carousel-collection[collectionMap] %}
{% else %}
    {% assign carouselCollection = page[collectionMap] %}
{% endif %}

{% if collectionKey %}
    {% assign carouselCollection = carouselCollection[collectionKey] %}
{% endif %}

{% if autoplay == false %}
    {% assign autoplay = "no-autoplay" %}
{% else %}
    {% assign autoplay = "autoplay" %}
{% endif %}

{% if nonActiveItemsVisibility == false %}
    {% assign nonActiveItemsVisibility = "nonActiveItemsVisibilityFalse" %}
{% else %}
    {% assign nonActiveItemsVisibility = "nonActiveItemsVisibilityTrue" %}
{% endif %}

{% if dotButtonMode == "circle" %}
    {% assign dotButtonMode = dotButtonMode %}
{% else %}
    {% assign dotButtonMode = "line" %}
{% endif %}

{% if navMode == "fatArrow" %}
    {% assign navMode = navMode %}
{% else %}
    {% assign navMode = "thinArrow" %}
{% endif %}

{% if titleSize %}
    {% assign titleSize = titleSize %}
{% else %}
    {% assign titleSize = '36px' %}
{% endif %}

{% if descriptionSize %}
    {% assign descriptionSize = descriptionSize %}
{% else %}
    {% assign descriptionSize = '18px' %}
{% endif %}

{% if linkSize %}
    {% assign linkSize = linkSize %}
{% else %}
    {% assign linkSize = '18px' %}
{% endif %}

{% if titleLineHeight %}
    {% assign titleLineHeight = titleLineHeight %}
{% else %}
    {% assign titleLineHeight = '54px' %}
{% endif %}

{% if descriptionLineHeight %}
    {% assign descriptionLineHeight = descriptionLineHeight %}
{% else %}
    {% assign descriptionLineHeight = '27px' %}
{% endif %}

{% if linkLineHeight %}
    {% assign linkLineHeight = linkLineHeight %}
{% else %}
    {% assign linkLineHeight = '24px' %}
{% endif %}

{% if titleColor %}
    {% assign titleColor = titleColor %}
{% else %}
    {% assign titleColor = "#212529" %}
{% endif %}

{% if descriptionColor %}
    {% assign descriptionColor = descriptionColor %}
{% else %}
    {% assign descriptionColor = "#75767c" %}
{% endif %}

{% if linkColor %}
    {% assign linkColor = linkColor %}
{% else %}
    {% assign linkColor = "#2a7dec" %}
{% endif %}

{% if enableLinkArrow == false %}
    {% assign enableLinkArrow = enableLinkArrow %}
{% else %}
    {% assign enableLinkArrow = true %}
{% endif %}

<div class="usecase-carousel owl-carousel owl-theme owl-loaded owl-drag {{ nonActiveItemsVisibility }} {{ dotButtonMode }} {{ navMode }} {{ autoplay }}">
    {% for carouselItem in carouselCollection %}
        {% if carouselItem[1].title or carouselItem[1].description or carouselItem[1].linkLabel and carouselItem[1].src %}
            {% if contentDirection == 'column' %}
                {% assign carousel-item = 'carousel-item-flex-column' %}
            {% else %}
                {% assign carousel-item = 'carousel-item-flex-row' %}
            {% endif %}
        {% else %}
            {% assign carousel-item = 'carousel-item' %}
        {% endif %}
        <div class="carousel-item-default {{ carousel-item }}">
            {% if carouselItem[1].title or carouselItem[1].description or carouselItem[1].linkLabel %}
                <div class="carousel-text">
                    {% if carouselItem[1].title %}
                        <h2 style="font-size: {{titleSize}}; color: {{titleColor}}; line-height: {{titleLineHeight}}">{{carouselItem[1].title}}</h2>
                    {% endif %}
                    {% if carouselItem[1].description %}
                        <p style="font-size: {{descriptionSize}}; color: {{descriptionColor}}; line-height: {{descriptionLineHeight}}">{{carouselItem[1].description}}</p>
                    {% endif %}
                    {% if carouselItem[1].linkLabel %}
                        <a href="{{carouselItem[1].href}}" style="font-size: {{linkSize}}; color: {{linkColor}}; line-height: {{linkLineHeight}}">
                            {{carouselItem[1].linkLabel}}
                            {% if enableLinkArrow == true %}
                                <i class="fas fa-chevron-right arrow first" style="color: {{linkColor}}"></i>
                                <i class="fas fa-chevron-right arrow second" style="color: {{linkColor}}"></i>
                                <i class="fas fa-chevron-right arrow third" style="color: {{linkColor}}"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            {% if carouselItem[1].src %}
                <div class="carousel-image">
                    {% if carouselItem[1].href %}
                        <a href="{{carouselItem[1].href}}">
                            <img src="{{carouselItem[1].src}}" alt="{{carouselItem[1].alt}}">
                            {% if overlay == true %}
                                <div class="overlay">
                                    <div class="eye">
                                        <i class="far fa-eye"></i>
                                        See more about {{carouselItem[1].title}}
                                    </div>
                                </div>
                            {% endif %}
                        </a>
                    {% else %}
                        <img src="{{carouselItem[1].src}}" alt="{{carouselItem[1].alt}}">
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
