{% assign partner = include.partner %}

<div class="hardware-partner">
    <div class="hardware-partner-card">
        <div class="hardware-partner-card-wrapper">
            <img src="{{ partner.logo }}" alt="{{ partner.name }} logo">
            <h1>{{ partner.name }}</h1>
            <p>{{ partner.description }}</p>
            <a href="{{ partner.site.href }}">
                <span>Website</span>
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
    <div class="hardware-info">
        <table class="hardware-info-table">
            <tr>
                <th>Connectivity</th>
                <td>{{ partner.type | join: ', ' }}</td>
            </tr>
            <tr>
                <th>Industry</th>
                <td>Smart Cities, Industrial Manufacturing, Smart Buildings, Environmental Monitoring</td>
            </tr>
            <tr>
                <th>Use cases</th>
                <td>Air Quality Monitoring, SCADA Swimming Pool, Smart Energy, SCADA Oil & Gas drilling system, Water Metering</td>
            </tr>
            <tr>
                <th>Hardware types</th>
                <td>Environmental & Condition Sensors, Event & Status Sensors/Loggers, Vision Systems & Cameras, Gateways, Trackers (LPWAN/Cellular)</td>
            </tr>
        </table>
        {% if partner.showcase.href %}
            <div class="showcases">
                <span class="section-label">Showcases:</span>
                <ul>
                    <li><a href="{{ partner.showcase.href }}" class="hardware-crisp">Showcase</a></li>
                </ul>
            </div>
        {% endif %}
        {% if partner.links and partner.links.size > 0 %}
            <div class="guides">
                <span class="section-label">Guides:</span>
                <ul class="guide-list">
                    {% for link in partner.links %}
                        <li><a href="{{ link[1].href }}" class="hardware-crisp">{{ link[1].label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
