{% assign collectionMap = include.collectionMap %}
{% assign settings = include.settings | jsonify %}

{% if site.data.carousel-collection[collectionMap] %}
    {% assign carouselCollection = site.data.carousel-collection[collectionMap] %}
{% else %}
    {% assign carouselCollection = page[collectionMap] %}
{% endif %}

{% assign defaultSettings = '{
    "items": 1,
    "stagePadding": 50,
    "margin": 100,
    "nav": false,
    "responsive":{"1024":{"nav":true}}
}' %}

{% if settings == 'null' or settings == '""' %}
    {% assign settings = defaultSettings %}
{% endif %}

<div class="usecase-carousel owl-carousel owl-theme hidden-carousel nonActiveItemsVisibilityFalse transitionAnimationEnabled thinArrow line" data-settings='{{ settings }}'>
    {% for carouselItem in carouselCollection %}
        <div class="carousel-item-default carousel-item-flex-row">
            <div class="carousel-text">
                <h2>{{ carouselItem[1].title }}</h2>
                <p>{{ carouselItem[1].description }}</p>
                <a href="{{ carouselItem[1].href }}">
                    {{ carouselItem[1].linkLabel }}
                    <i class="fas fa-chevron-right arrow first" style="color: #2a7dec"></i>
                    <i class="fas fa-chevron-right arrow second" style="color: #2a7dec"></i>
                    <i class="fas fa-chevron-right arrow third" style="color: #2a7dec"></i>
                </a>
            </div>
            <div class="carousel-image">
                <a href="{{ carouselItem[1].href }}">
                    <img class="owl-lazy" data-src="{{carouselItem[1].src}}" alt="{{carouselItem[1].alt}}" title="{{carouselItem[1].imageTitleAttribute}}" width="{{carouselItem[1].width}}" height="{{carouselItem[1].height}}">
                    <div class="overlay">
                        <div class="eye">
                            <i class="far fa-eye"></i>
                            See more about {{carouselItem[1].title}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

