{% assign ruleNodes = site.data.rule-nodes %}

<ul class="nodes">
    {% for node in ruleNodes %}
        <li class="node">
            <a class="node-link" href="{{ node.link }}">
                <div class="node-img">
                    <img src="{{ node.img }}" alt="{{ node.title }} image">
                </div>
                <div class="node-text">
                    <span>{{ node.title }}</span>
                    <p>{{ node.description }}</p>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
